@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@700&family=Roboto:wght@700&family=Water+Brush&display=swap");



.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: var(--poppins);
    text-align: center;
}

.menu-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 70px;
    width: 100%;
    margin-top: 50px;
}

.menu-items {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 5px solid var(--chocolate);
    border-radius: 15px;
    min-height: 320px;
    width: 300px;

    h2 {
        background: var(--chocolate);
        width: 100%;
        padding: 10px;
    }

    img {
        position: absolute;
        left: 50%;
        top: -15%;
        transform: translateX(50%) rotate(-35deg);
        width: 100px;
        z-index: 2;
    }

    p {
        margin: auto;
        padding: 10px 15px;
    }

    span {
        text-align: right;
        margin: 20px;
        font-style: italic;
    }
}

@media only screen and (max-width: 1024px) {
    .menu-container {
        gap: 40px;
    }

    .menu-items {
        width: 230px;
        height: auto;

        img {
            width: 75px;
            top: -5%;
        }
    }
}